<div class="container">
<h1>Profiles#my-profile</h1>
  <div class ="banner">
  </div>
  <div class="profile-left"></div>
    <div class="profile-info">
      <div class="profile-pic">
      </div>
      <div class="profile-description">
      </div>
    </div>
  </div>
  <div class="profile-right">
    <div class="spotify links">
    </div>
    <div class="profile-full-description">
    </div>
  </div>
</div>
