// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$dark-blue: rgba(27, 27, 58, 1);
$light-blue: rgba(57, 160, 237, 1);
$dark-green: rgba(4, 138, 129, 1);
$pastel-green: rgba(19, 196, 163, 1);
$dark-grey: rgba(221, 221, 225, 1);
