.profile {

}

.profile-banner {
  height: 35vh;
  background-position: bottom;
  position: relative;
}

.profile-grid {
  position:absolute;
  top: 45%;
  width: 100%;
}

.profile-card {
  display: flex;
  flex-direction: column;
  height: 500px;
  max-width: 350px;
  margin: 0 auto;
}

.profile-card-image {
  margin: 0 auto;
  width: 300px;
}
.profile-card-bottom {
  box-shadow: 0px 0px 10px 0px rgba(156,156,156,1);  margin: 0 auto;
  width: 300px;
  padding: 20px;
  background-color: $light-grey;
}
.profile-about {
  margin-top: 15px;
  word-wrap: break-word;
}

.profile-right {
  position: absolute;
  top:15%;
  right:0;
  color: white;
  letter-spacing: 2px;
}

.profile-spotify-api {
  color: black;
  margin-top: 15px;
}

.edit-profile {
  margin-top: 15px;
  height: auto;
}

.edit-profile-button {
  z-index: 2;
  position: absolute;
  right: 40px;
  top: 10%;
  border-radius: 10px;
  color: black;
  letter-spacing: 0;
  &:hover {
    box-shadow: 0px 0px 10px 0px rgba(156,156,156,1);  }
}

.my-campaigns-title {
  text-align: center;
  color: black;
}

.edit-campaign {
  text-decoration: none;
  color: black;
  letter-spacing:0;
  border: 1px solid black;
  padding: 10px;
  border-radius:10px;
  &:hover {
    text-decoration: none;
    color: black;
    opacity: 0.5;

  }
}
