.campaign-head {
  padding: 30px 0;
}

.user-info {
  text-align: center;
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration:none;
    opacity: 0.5;
    color: black;
  }
  .avatar {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 auto;
  }
}

.campaign-body {
  padding: 30px 0;
}

.campaign-photos {
  border-radius: 12px;
}

.gallery-image-parent {
  border-radius: 12px;
  height: 400px;
  width: 100%;
  background-size: cover;
  * {
    border-radius: 12px;
  }
}

.carousel-control-areas {
  border-radius: 12px;
}

.user-info p {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration:none;
    opacity: 0.5;
    color: black;
  }
}

.ticket-category-boxes {
  border-radius: 12px;
  background: white;
  padding: 30px;
  margin: 0 15px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.campaign-description {
  border-radius: 12px;
  width: 100%;
  background: white;
  margin: 15px 0;
  padding: 20px;
}

.responsive {
  display: flex;
  flex-wrap: wrap;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.campaign-show-backed {
  padding-top:25px;
  text-align:center;
  h2 {
    margin: 0 auto;
    font-weight: lighter;
  }
}

.campaign-show-ended {
  padding-top:25px;
  text-align:center;
  h2 {
    margin: 0 auto;
    font-weight: lighter;
  }
}

.campaign-show-is-private {
  padding-top:25px;
  text-align:center;
  h2 {
    margin: 0 auto;
    font-weight: lighter;
  }
  h3 {
    font-weight: lighter;
  }
}
