.order-success {
padding: 0 30px;
text-align: center;
}

.order-tick {
  padding-top: 20px;
  font-size: 120px;
  color: $pastel-green;
}
.order-success-title {
  margin-bottom: 5px;
  color: $pastel-green;
}

.order-success-order-info {
}

.other-campaigns-title {
  margin: 15px 0;
  text-align: center;
}

.other-campaigns {
  padding: 30px;
}
