<div class="row not-found-error"style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://media1.tenor.com/images/dfe17e2eec1f62b685dd3c9439944fe2/tenor.gif?itemid=12987978')">
  <div class="col-sm-12 not-found-error-content">
    <h1>Oops!</h1>
    <p>Error 404: Page Not Found</p>
    <h2>Looks like this doesn't exist, don't be sad though!</h2>
    <h2>Press the button to go back to safety!</h2>
    <%= link_to "Back", :back, class: 'btn not-found-button' %>
  </div>
</div>

