.alert {
  margin: 0;
  text-align: center;
  color: white;
  width: 100%;
  position: absolute;
  top: 90px;
  border: none;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
