.banner {
  color: white;
  text-align: center;
  min-height: calc(100vh - 70px);
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  label {
    font-size: 14px;
    color: black;
    float: left;
  }
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  margin-bottom: 30px;
}

.home-form {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  min-height: calc(100vh - 70px);
}

.searchbar-banner {
  background: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  border-radius: 6px;
  padding: 20px;
  margin: 80px;
  width:auto;
  h3 {
    color: black;
    text-align: left;
    font-weight: bold;
  }
}

.selecttwo-box {
  text-align: left;
}

.input-banner {
  height: 34px;
  font-size: 14px;
  text-align: left;
  border-radius: 3px;
}

.button-banner {
  width: 100px;
  height: 34px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 50px;
  float: right;
}

.flexbox-animation {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  .flex-item-text {
    font-size: 50px;
    line-height: 1.1;
    font-weight: 100;
  }
}

.banner-title-left {
  position: absolute;
  left:150px;
  top: 50px;
  opacity: 0.8;
}


