.button {
  height: 34px;
  font-size: 14px;
  border-radius: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.button-banner {
  background-color: rgba(19,196,163,1);
  border: none;
  width: 100px;
  height: 34px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 50px;
  float: right;
  &:hover {
    background-color: $pastel-green;
    border: none;
    opacity: 0.5;
  }
}

.green-button {
  background-color: $pastel-green;
  color: white;
  border: none;
  width: 100px;
  height: 34px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 50px;
  &:hover {
    color: white;
    background-color: $pastel-green;
    border: none;
    opacity: 0.5;
  }
}
