.wrapper-grey {
  background-color: $dark-grey;
}

.wrapper-dark-green {
  background-color: $dark-green;
  * {
    color: white;
  }
}

.wrapper-dark-blue {
  background-color: $dark-blue;
  * {
    color: white;
  }
}

.wrapper-light-grey {
  background-color: $light-grey;
}
