#datepicker {
  font-size: 14px;
  margin: auto;
  text-align: left;
}

.label-checkbox {
  margin-left: 5px;
  font-size: 14px;
  font-weight: normal;
  margin-top: 10px;
}

.input {
  height: 34px;
  border-radius: 4px;
  font-size: 14px;
  text-align: left;
}


