.list-card {
  border-radius: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  border: 1px solid black;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  .list-card-date {
    text-align: center;
    padding: 10px;
    h2 {
      margin: 0;
    }
    p {
      margin: 0;
    }
  }

  .list-card-photo {
    border-radius: 12px;
    height: 120px;
    width: 120px;
    // ...
  }

  .list-card-text {
    flex: 1 0 auto;
  }

  .list-card-status {
    // ...
  }
}

