.map-div {
  padding: 15px 30px;
}

#map {
  background-size: cover;
  height: 600px;
  width: 100%;
  border-radius: 12px;
}

.mapboxgl-popup {
  width: auto;
}

.mapboxgl-popup-content {
  text-align: center;
  h5 {
    font-size: 15px;
  }
}

.popup-image {
  position: relative;
}

.popup-title {
  // color: white;
}
