#map {
  height: 70vh;
}

.mapboxgl-popup {
  width: auto;
}

.mapboxgl-popup-content {
  text-align: center;
  h5 {
    font-size: 15px;
  }
}

.popup-image {
  position: relative;
}

.popup-title {
  // color: white;
}
