.searchbar {
  background: $light-grey;
  position: fixed;
  top: 90px;
  width: 100vw;
  padding: 20px 0;
  border: 5px;
  z-index: 3;
}

.view-description {
  position: absolute;
  right: 60px;
  bottom: 0px;
}
