.info-card-column {
  margin: 60px 0;
}

.info-icon {
  font-size: 60px;
  transform: rotate(-20deg);
}

.info-text {
  text-decoration: none;
  color: black;
  h4 {
    font-size: 20px;
    font-weight: bold;
  }
}
