<div class="container">
  <div class="campaign">
    <% if @campaigns.size == 0 %>
      <h3>Sorry, No Results Were Found!</h3>
    <% else %>
      <% @campaigns.each do |campaign| %>
        <div class="card-description">
          <% if campaign.photos.any? %>
            <div class="col-xs-12 col-sm-6 col-md-6 info-card-column" style="justify-content: space-around; margin-bottom: 25px;">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path campaign.photos.first.image_url, height: 300, width: 400, crop: :fill %>')">
                <div class="card-name">
                  <h2> <%= link_to campaign.name, campaign_path(campaign)  %>
                  </h2>
                </div>
                <%= link_to "", campaign_path(campaign), :class => "card_link"  %>
            </div>
          <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
