<head>
<title>PDF</title>
  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  <link href="https://fonts.googleapis.com/css?family=Mali|Roboto+Mono" rel="stylesheet">
<style>
 body h1 {
  text-align: center;
  font: sans-serif;
  font-size: 150px;
  font-color: grey;
 }

 body h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 135px;
 }

 body h3 {
  font-family: 'Roboto Mono', monospace;
  font-size: 85px;
  text-align:center;
 }
  .tickets {
    display: flex;
    text-align: center;
  }
  .tickets svg {
    position:bottom;
    margin: 20px;
  }

  .ticket-info {
    display: flex;
  }

  .pdf_banner {
  background-image: linear-gradient(-225deg, rgba(57,160,237,0.3) 0%, rgba(57,160,237,0.3) 50%);
  height: 15vh;
  background-position: bottom;
  text-align: center;
  }
</style>
</head>
<body>
  <div class="pdf_banner">
    <img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAVkAAAE9CAYAAAChlxGXAAAACXBIWXMAABcRAAAXEQHKJvM/AAAewElEQVR4nO3dsW4cWXbG8VuDMTCzNsAdYYBZwBiIApwaaiVOSUV2RuoJJCUOPdQLWFTmTK0nEBU6EhkuHIgKHallOBeJxQIzhjAzXAOrjVzGoU6Rl13d1V3VVbfuPff/AwaaZXNWFCl+rD59z1dFWZYOSFVRFNvOuX3n3MQ5J/++M/dHeeucO3POnTrnjsuy/JUvNkIiZJGkoigeOeceLQjVVU6cc9OyLE9XvB/QC0IWSSmKYldC0jl3d8OPW65wH5VleVZ7BOjRF3wykYqiKA6dc296CFinV8AfiqKYFkXx29qjQE+4kkX0NASPnHN7A32sF865g7Isj2qPABsiZHGpKIqJ9+JR9U/laMwAKopi1tPV6yrvNWyZ16I3X/KpzJP3qvzuGleIo4VOURRHgQLW6e/zpiiKEw1b5rXYGCGbEX3aXb0qHyq4OiuKQn4IPBzht5YfOrsyr9WTCBz7Qme88JUBuWrVK0K5MnueSMBWc9ixbDnnnjrnZnpcDOiEkDVMgkpfkf+gV4RbCf1pDyL5eG87514WRXGqx8eAVghZo4qiONAr16ep/Qn1Kvag9sC4dnRee8SRL7RByBojV1v6avzzxK5cffsRf+zyjOBMnyEAKxGyRujc9bjHw/pj2o/847uc1xZFcaYvzgFLEbKJm5u7DnVYP7RUZp8yr32t89pJ7VFkzxGyadNXvWcpzl2X0fO7qY05ZF77jhVdLELIJkjnrrIg8FKvpizZTvjP8oPOa2N70Q4jImQT4p13fdOh4g9hyFX4c53XcuQLhGwqdO46G2kDCu3d1iNfxzoCQaYI2cjJq9dyVaRz11SPZOVsTysVD5nX5omQjZS8Wq1z19cG5645eqrzWlZ0M0PIRkaPZMnc9R1zV3O2dEV3xrw2H4RsRLxVWOautt31VnSZ1xpHyEZAj2SdJb4Ki/YeassX81rDCNkR6ZGsUz2Sxdw1T1QqGkfIjmBuFZa562pyD65flryXvP1j7a3p8SsVWdE1hJANTK9WkqwgHMGfnXN/0au9b5b89vL2b/Xff6o9mp5qRZdKRSMI2UC8CsKXzF3X8sk59xvn3Fct/pvv9FcLYUulohGE7MCMVRCGIgH79Qa/VxW2F7VH0uJXKnLkK1GE7EC8uevMUAVhCL/bMGB9ElI/196anmpF95QjX+khZAcwV0HIaKCdH3v+/7ulV8YW7OiKLpWKCSFke2S8gjBl1ZWxlbClUjEhhGwPvFVYKgjj9rWR417Oq1RkRTdyhOyGdO7KKmw6vjUyp63cpVIxboRsR1QQJu2WsaB1VCrGi5BtyVuFpYIwbRaD1lGpGB9Cdk06d52yCmvKLd0os2bLW9FlXjsyQnYNXgXhD9F/sGhLNsreGv2s7VCpOD5CtgEVhHkoy1Ku9h44586N/oGvKhVrj2BwhOwCc6uwzF0zUJblcVmWcrX3zMA67iL+iu7+gscxEELWM1dByCpshsqylK+/hO0ro396uWh4TaViOISsooKw0a9ND1pTluWvZVnK34f7xue1VCoGkH3IUkHYSGaU98uynDa9k1VlWZ7qvPax8XktK7oDyjZkde56RAXhQjKTfCIzSgmaRe+Qk7Is5e/JxPi89jmVisPILmTnKghZha17ITPJXK9el9ERwqGG7cmSd0sdlYoDyCpk9VVVKggXk9njnbIsDyRQFr4HJGzPyrLc13nte6OfESoVe5RFyMqrqKzCLiWzxgcye5QAWfZOuEnntROd11ocITivUpEV3Q2YDlmvgvAdq7A1EgzPdO56XHsUa9F57baOWSyqVnSpVOzIbMhSQdjolc5d2QDqgc5r5dX5O4aPfFGp2JG5kPVWYZm71kkA3JMzoMxd+6fz2l2d11o98rVXregyr12PmZD1KghZha2Tb/jHOned1R5Fr3ReK1d7Tyyv6GrYMq9dIfmQpYKw0YWe7Zzo7BAB6TE46yu6VCqukHTIUkHY6ETD9ZDRwHi8Fd17mVQqMkKYk2TIequwVBDWvddV2H2OZMVDxjSZVCqeUal4U1IhO1dByCrsTRc6d52wChsvKhXzk0TIUkG40jM9ksXcNRHeii6VisZFH7JUEDaqVmGZuyZIj3zlUqmY7YputCGrc9dTKggXqioIWYU1YK5S0fqKbnaVitGF7FwFIUeybqKC0DBvRfeZ0T9llpWKUYUsFYSNqCDMgFepeCeDSsUsVnSjCFl5FZJV2KWqVVgqCDOSSaXinlYqml7RHTVkqSBs5FcQsgqbKa9S0eqKrtOLK7OViqOELBWEjaggRI23okulYmKCh6y3CsvctY4KQiyVWaXikZV5bbCQ9SoIWYWte6tHsqggxEqZVCo+tFKpOHjIUkHYyK8g5EgWWvEqFU2v6KZeqThYyFJBuBIVhOiFjpdyqVRMbkV3kJD1VmGpIKw7YRUWfcuoUvFdapWKvYasV0HIKmwdFYQYHJWK8eklZKkgbEQFIYLT43+TTCoVoz7ytXHI6pGsGRWEC72gghBj8VZ0rVcqvtF5bZRHvjqHrHdqgCNZdVUFIauwGN1cpaLVFd0dXdGNrlKxU8jq5fmMUwM1VBAiWt6KLpWKAbUOWT058Iar1xuoIEQyMqpUjGJFt1XI6qt5L2sP5O0VFYRITSaVindjqFRcO2Q1YLkFzLWqgpBVWCRrrlLR6pGvUSsV1wpZHREQsJ9RQQhzvBVdKhV7tjJk9ba+jAioIEQGMqpUPA01r20MWZ1jcMbz89x1QgUhcpBJpeJOqErFxpB1zv37ilMEn5xzf9BfLfIrCDmShax4lYrWV3RnQ67oLg1Z/U3/ofbATV87577XX8VPtfdIExWEgJLxWA6Virqiu197dENFWZa1/we9fP5Qe2B9Erbf9f3BBiJ/kaacGBiHzsnehPzNy7Isam/EQvrq/NT4nU3kGexBXy9sL7uS3XQOKwH7F+fcn2uPxIsKQmAFr1LxPpWK66mFrF5J9LEu+5Vz7jfOuY+1R+JCBSHQkh752tUVXeuViv9ae6SFWsg65/oeAH8badBWq7BUEAId6Yqu9UrFg00qFW+EbI9XsfMkaH+uvXU8L1iFBfoxV6locUX3m00qFeevZIfchLgVQdBSQQgMZG5F10ql4h/m/nfrSsWrkNX/YOhXDMcKWioIgUCMVSp+X3vLZ2tXKvpXsqH2eW8F/MT7q7DMXYGADFQqrjr3X1UqNo4Q/JDt/RBug60Ax7uqCkJWYYGRzFUqpnbka92z/ju6NbbwduWXIaujgtB3OVh0sqEPVBACkfFWdFOpVGx7IkouHE8XBW0VdGO0h3/V89EuKgiByCVSqfhnPRHV1sKgrUK2lr6BfNtDucyFznwmVBACafAqFWO8i+4mz7K35jdmx7ySrWyyN35VQchoAEiLt6J7L6J57c/6LHsTd/1Wrypkl74yFkCXsQEVhIARMt6LpFLxZz391IeD6hxtFbK3R/tjfbbu/OOCCkLAppErFfsMWFet48q/fNF0viuwVWfSnumRLO7UABjmreiGmtd+7DlgK59DduRRgW/ZmTQqCIHM6JGvEJWKHzueJFjHlvTBDHVWtSv/avacCkIgbwNWKl5scFSrjehCVq5m/6QVhKzCArg0V6m4iU8asFvadz206EJW/BsVhADmza3otq1U/EXD9esVN4ftXYwha/XOtwB60KJS8RevqvCb0OGqdmIMWQBYSceJu3pVe67/+K/rfNNQVRjMl3wpAaRIb989jeCcfyNCFkBStIBlOkJzYBdvCVkASdA11WmAO7j06VdmsgCip4UrZ4kFrJhxJQsgWnoH7aPY564NjglZANHRTpWjROauy5xLwxjjAgDRkLmr3G5bbrudeMC6qrybkAUQBb299pnebjt1F/oiHUe4AIxL564SSHcNfSmuWgMJWQCj0LmrhOuesa/Ae79/hZAFEJSed5XRwFODn/mL+XsmErIAgimK4pFevY5R1jK0y4Cdv7kAL3wBGJzMXYuikEKXl0YD9lwDdjb/ACELYDAydy2KQo4yvTFwJGsZaQGbLApYx7gAwBC8ueuB0StXp1evB3KX3dojHq5kkT15GhvRXZuTpxWEM31hy+rs9ZneIqsxYB0hC1ySp7EfZNNIr8DQgVQQ6tz1dcJdA6vIbcq39TY4ayFkgWuyaXSmr4BjTboKK3PXd4bnrnJb8ntym/L50wOrELLATfL09mVRFDPdREIDbxU2tQrCdcnc9bHclnzZC1urELLAYrLi+aYoimPmtXV6JEvC9bnluaueGjiqPdoCIQs029N57SHz2qsjWad6JMvy3FXC9bDtaGARQhZYj7xSPst1XmusgnAZub34fZ27ni15n9YIWWB9t3Vee5rTvFZ/sFipIFzkQueuE73NeK8IWaC9HZ3XHlme1+rcdWZ4Fdbp3HV707lrE0IW6O6hjhDWPjOZAp27Huvc1VLHq0+OZN3pa+7ahJBFbP4msa+IXOE9lVfaddMpWTp3PdS5q7WO18q5zl13+5y7NiFkEZu/S/QrIvPa1zqvndQejZzOXWdGO16dzl2f6Cps73PXJoQs0C+Z177TeW30R77mKgitHsl6oXPXae2RAAhZYBgPdUX3IMbPbyYVhNUq7MHQc9cmhCwwHJnXPtd5bTRHvnTuOjO+Cvtgk1XYPhGywPBu65GvUSsV5YU5XYWlgjAgQhYIZ2eMFV0qCMdFyALhPQ1RqeitwlqvILzfpYIwFEIWGMeglYpeBaHVVVi/gjDokay2CFlgXL1WKmZQQej6qiAMhZAF4rBXreh2mddmUkF4EmoVtk+ELBCPrbaVinOrsNYrCPdDrcL2iZAF4rNWpaJXQWh5FXawCsJQCFnE5hZfkSt+peLVCCGTCsIXQ1cQhvJl6n8AmEPI1slm1r6uwW4bbshyeiSr1zsTjI2QRWz+yFdkoS3Dx7GcHsl6lPJYYBnGBYjNJ74iWRmtgjAUrmQBjEVWYUdtyAqBkAUQ2lsN19EbskIgZAGEcq7hGk1DVgiELIChydx1GmNDVgiELIAhydz10NKRrLY4XQB8vtJCv/wKwmwD1hGywKVt3TDC5i5SqSAMhZBF9uQIkdxsTxqe9AoM3TyzsgrbJ0IWUPK0Vq7A5CZ8+ko41pNkBWEohCwwR44YyQaSXpkxr10u6QrCUAhZYAk9crStr5DjWrUKm3QFYSiELNBA57XS23qPee2lqoJwWnsECxGywBpkBVTntY8znde+1bmr+a6BvhGyiM2PMX9F9JXzic5r/1R7B3vOde66y9y1G0IWsYk6ZJ2OEPS2L/9be9CeM/0HHRGyQAtFUUz0rrBy65e/zeBzJ7fA+VAUxbTLXXRByAJr0bvCyqjgneG7wjaRuzKcFUVx0PA+WICQBVbQW26f6b22cia3wHkuN3FsuosubiJkgSWKopCbF1a33LZ6V9gu7upddI+LothO78MPi5AF5khw6Nz1tXPudu0dUNnTee0h89rlCFlA6dxVDtl/yHTu2pVc6csI4VGaH/6wCFngc8Ae6NzV8m23hyRX/C/lGQDz2psIWWRP567Pmbv2YkfntUfMaz8jZAHmrkN4qCOELO/r5SNkAQxFnhk8lWcKclIj188yIQtgaPJM4bXOaye5fbYJWQChyLz2nc5rsznyRcgCCO1hTiu6hCyAMVQrumfWj3wRsgDGdFuPfJ1aPfJFyALp+L1z7r+Nfr12rK7oErJA/N7q3Qn+qSzLv9db4Fi9i+5TndeaWdElZIF4ya1fHuutX67uCqu3wNnWmxpatKUruiYqFQlZID4Xeg+xiQZqjd5FV16dv2P4LromKhUJWSAuJxquh+vcFVZubqh30b1v+C66e9WKborzWkIWiMN7nbvud7krrIwTyrKUq70nRue1W6lWKhKywLgudO468eeuXZVlOdV57SujX9fkKhUJWWA8MnfdXjZ37UrntXK1d8/wvNavVIx6hEDIAuFJ8N1Zd+7aVVmWM53XPjA8r61WdKOtVCRkgXDOde6622Xu2lVZlsfyYppeOZud18ZaqUjIAsOTYHsiL0z1MXftQkcIhxq2lue1r2Nb0SVkEZvfGfuKvNK567T2yAj0yNcjPfJleV4rK7rTGOa1hCxiYyVkJcDuSaANOXftSo987Rpf0f0hhkpFQhbol8xdH+jcdRb759Zb0X1We9CG0SsVCVnE5sdEvyKXq7A6dz2uPRoxb157RzfOLLo91oouIYvYpBiyr6pV2NojCdF57b7Oa9+n/GdpsBe6UpGQBbqrKggfhTySNTSd104Mr+i6kJWKhCzQ3sIKQmu8FV0qFTdAyALtNFYQWpNZpeLREPNaQhZYz0mIVdhYeZWK1ld0e69UJGSBZhtVEFojJye0UtH0iq6GbS8ruoQssFivFYTW6EkK65WK1YrupPZoC4QsUPdiiApCazKqVPyPTSoVCVngWlVBeJDj3LUrr1LxsdF57bebVCoSssBIFYTW6JW/tUrFj96/d6pUJGSRvTErCK0xWKn417W3tKxUJGQB9G6uUjHVFd1Pzrmva2+9VlUqNo4QCFkAg/FWdFOsVCxqb1nsqW6NLXxhjJAFMLgEKxXlB8JXtbcuJ1tjp4uClpAFEERilYpbtbestjBoCVkAQc1VKsZ45Otj7S3rk6C9cb6akAUwCp3XbkdWqfiznovdxJ5/xIuQBTCqiCoV5TTBrdpbu7m6cSYhC2B0XqXiWCu6q45rtXW7KgQnZAFEw1vRDVmp+JeeA7ZyeZdcQhZAdAJWKv7c8qhWG3elwYuQBRCtgSsVP/Y4g11ml5AFEDWvUvF+T/Pan/TXTU8RrIOQBZAGPfK1SaViFa7f1R4Zzm8JWQBJaVmp+Iu3XBAyXCvMZAGkZ65S8fd6ZSv//FF//aR/qG8CjQWW2fpyyQNDk0/A/yz4PW4HGEQDMEC7XCVo/zHmP02IkP2kl+vfemfRvtZAXeRfiqL4P/0pBQA3aAHLgf7TpcglpPdDjgv+oL9KoH7f4rBvp1s8ALBPt6hmetvu2ANW/Np3yH7yBtHf1x5tp7db8gJIm2SAZIFz7mXDs+AYnX6hPxX68FGvVvv+6SK3eHi3yS15AaRJvufle18yQLMgNbMverj1cXXlOvQreNUteQ9qjwAwR++ddabf+ym6kPXgalzQtYjhY+C5iPxez3Veu1t7FEDy5LUY+R5PaO66zLHzCmK63Gv+YsTzZzKTebPuLXkBxE++l3Xu+jqxuesylyekqpBte8/5T5H8hKluyTtlXgukSeeuUnL9IdG56yKv5DY7rmPI9l1u24cfdF77KLKPC0ADfY3lTL+HrbioumRdFbJSvLDmH+5jhAFbkSvrl3r/c+a1QMTke1Tnrs8Tn7susu8fKPDPya66Re/HkXeA13VX57XHzGuBuOjcVV4QemNk7jrv8fxFqx+yx7V3vzbmi1xd7ckZNTkGwrwWGJfOXQ917rpn9MvxWBvCbijKsrz83xpEv9T+MxvkiNrhok8A4qKjnjchP6iyLIvaG9Ebfa1kanAsUDnXEcHCxa6rK1mdISy6xUMs90PfxG2d154yrwXC0LnrTFdhrQas3MZ8sixg3YIbKc5f6V0Y++Ts6LyWFV1gIDp3PdJnJHeNfp7lNjh35Dbmq7Zmb4SsDmz9e+j8Ve2/sKFa0aVOEeiJN3edJbwKu4qMBu7LbXCqc7CrLGrhqoJH7ofzm9qjdlCpCPREv4dSqiBsS57VP5PblLc48nqpFrL6f/CfI90PZwxUKgIdeRWEVlZhF5HXqra73kigFrLqn2tvsa+qVGRFF1jBQAXhOmR0ek9uR75JW+HCkC3L8r/0TpA5+oFKRWA5AxWEq8jc9YHOXZeeGljX1TnZRfT4hdVXB9chn+xHbWcw6I5zsvHSr82R4bHAhZ7nnfbQs31l4ZWsZ9/IOdmubrOii9x5FYRWV2Gdzl3lvOthnwHrVoWsHlHglffPa4AfWNFFToxWEM57r0eyHq17JKutxpB116cNHtceyNNTKhWRA6MVhL4L7RqYDD0OXOtutbrzT9B+RqUizPJWYS1WEFae6ZGsIF0ma98SnKCtueut6DKvRdLmKgitvth9oquwvc9dm6wdso6gXeYhlYpIVSYVhNUq7P5Qc9cmrULWXQftvcxPHczb0nntjHktUqF/V6u7wlokGfWkyypsn1qHrPsctDKz2Z4rk8HNSkVWdBElnbueZlBBKOE6rT0SWKeQddo/KxsR8pOCq9qaakWXSkVEY66C0PIq7FoVhKF0DtmK/qTYXlL4nTsqFTG6jCoIH7SpIAxl45B111e1Mt+5zwihxq9U5MgXgsqsgrDpPoWj6SVkKzJc1hHCY/3JgmvViu4pR74wNCoI49FryFb0BMJED/0yr71pR1d0qVRE76ggjM8gIeuuRwiHGrYntXcAlYrolbcKa3nu+rivCsJQBgvZigyh5RCwzmvf194hbzIje86K7qiSH2vpkawzw6uwF/qseJLibf0HD9mKzmsnOq9lhHDTXSoVR/FCn2klKZMKwpOhKghDCRayFf1JtK1/wXETlYphvNeZXjRnKdvIrIJwlFXYPgUPWXc9r5X50R2OfC1EpeJwnmm9XTIzPZ+3CksFYSJGCdmKzmt3dV7Lka+btrwVXea1m6tekU5yMcSrILS8Chu0gjCUUUO2ovPabVZ0F9qhUnEjVUlIUq9IVzKpIHw7RgVhKFGEbIUV3UZXlYpN74Qb3uqLJqOXhLSVWQVhdKuwfYoqZN3NFd17zGtr/BVd7r223EWse+zr0LnrjApCG6IL2Yo8tdN57QPmtTVyXOc1lYoLnehcL8o99iZzFYRWj2RFU0EYSrQhW5FvFp3XsqJbR6XiNb/9Pqm5XkYVhMkem9tE9CFb8VZ0mdfWPcx8RfeFzl6Te+qZWQVhksfmNpVMyLrrI19UKi5WrejmVKlYXb0md3UkM3VdhaWC0LikQrZCpWKjXCoVn6X4wklGFYSTVM8k9y3JkK3MVSriph2jK7rvU1wqyKiC8L5WEJo9ktVW0iHrblYq3qFScSErK7rVsZ/kVmIzqyA0fySrreRDtkKlYqNqRTfVSsUklwoyqCB0KVcQhmImZCtepSIrunWpVSpeeFdIyTz9zKiC0OwqbJ/MhWzFW9GlUrFur1rRjXhee5JaWcjcKiwVhLhUlGVp/jOhV21Hhv/ib0LmaYexhJlusCV37Edn3lPDYwF5VnHAWKC9LEK2ovPII8NP4TbxVsOWFy5a0L9TU8MNWU6fDTIW6CirkK3oU7oDw1cdm3ilVyx8QzXQZ0dTww1ZTn/wchxrQ1mGrNP5mX6TWD1Wswl5ajjlMHmd/r05MP5D+lzDlWc1Pcg2ZCs6A5wyr13oXK9qs16LrOjc9dDwuOlCxwLZNGSFkH3IVrSfdcq8dqEnOX/j6dz10PgPYsZEAzF7hKstvVqbUKm4UJY1it4qbA4VhI8I2GEQsh5vRZdKxczpi6PWV2GzriAMhZBdYK5SkRXdjORSQairsMzaAyBkG3gruo8ZIdiWWwUho4FwCNk16JbLNpWK9ujcdUoFIYZCyK6JSkV79ESJhM4PRv+IF1QQjo+QbWmuUpG7MiRIr16PdTRguYIwqYIdqwjZjnReu02lYlq8q1er67BUEEaGkN0QlYpp8GavVq9eqSCMFCHbA53XHui8lrvoRkY3tmZGZ6/+bXmYu0aIkO2RzmvlG/oB89rxeVevVu9Q8ELnrnQNRIyQHYAc8tZ5LSu6IzF+9fpW5650DSSAkB2QHvnaZkU3HONXr/4qLHPXRBCyA9N5bbWiy7x2QIavXi9XYeXZEauw6SFkA9EjX7u6osu8tkfGr15f6dyVAvVEEbKB6eFwKhV7oqXrpwavXqkgNIKQHcFcpSIruh1pHeE7YzcxPPdWYakgNICQHdHcii6VimvSxqyZ1hFa4VcQsgprCCEbASoV12f06pUKQsMI2YhQqbic0avX91QQ2kfIRmauUpEjXzavXqsKQlZhM0DIRspb0c22UtHo1SsVhJkhZCOXa6ViURQHejTLytUrFYSZImQT4VUqml7R1cUCCdfnRioJz6kgzBshmxBvRfee4XntxMi9tqoKwm3mrnkjZBMkh9SpVIwaFYS4QsgmzGilYsrzymoVlgpCXCFkDfBWdJOf1ya6SupXELIKixsIWSP0yJeVSsVUPn4qCLESIWuMkUrFFAKLCkKshZA1KvFKxZhD9q23CsvcFSsRsoZ5K7pJvTim50ljmy/7FYQcycLaCNkMzIXt40RmnrE8DaeCEBshZDOiYXukM9s7GrgnMV7h6tXs2G1kJ1QQYlNFWZZ8EiHrrNt6pburn41d77NyNNZVnK7Yht4AkwrCA8YC6AMhi6hJl0HAopgLDVfGAugN4wJETZ+m7wa4Pc8LKggxBK5kkQS9opUA3Ov545UXAbkzAQbDlSySoC/a7fd4H7SqgnCXgMWQuJJFcvSqVkq9ZY34dsuPX8L1kLEAQiFkkbSiKPZ1Zrvb8OKYjARmekqCAhcERcjCHLk3mEu30QuWOOf+H6WRm3uXs8+qAAAAAElFTkSuQmCC==" alt="Logo" />
  <!-- <h1>Crowdbook</h1> -->
  <h2>This is a ticket</h2>
  </div>
    <h3>
      <ul>Ticket No. <%@order.ticket.id %></ul>
      <ul>Location: <%@order.ticket_categories.campaign.address %></ul>
      <ul>Date: <%@order.ticket_categories.campaign.date %></ul>
      <ul>Venue:<% @order.ticket_categories.first.campaign.address %></ul>
    </h3>
  <div>
  </div>
  <div class="tickets">
    <%= yield %>
  </div>
</body>
<footer>Terms and conditions apply, for more information please visit crowdbook.xyz/termsandconditions</footer>
</html>



